$mainColor: #389B61;
// $secondColor:

// background colors:
$back1: #3E4752;
$back2: #DADADA;
$back3: #F6F6F6;

// Fonts
$mainFont: 'Source Sans Pro', sans-serif;
$secondFont: 'Roboto', sans-serif;
$thirdFont: "Montserrat"